<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Edit Your Listing</h3>
            <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" id="title" value="<%=listing.title%>" type="text" class="form-control" required>
                    <!-- <div class="valid-feedback">
                        Title looks good!
                    </div> -->
                    <div class="invalid-feedback">
                        Title is required!
                    </div>
                </div>
    
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="description"  class="form-control" required><%=listing.description%></textarea>
                    <div class="invalid-feedback">
                        Description should be valid!
                    </div>
                </div>
               <div class="mb-3">
                Original Listing image <br>
                <img src="<%=originalImageUrl%>"
               </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" id="image"  type="file" class="form-control">
                    <div class="invalid-feedback">
                        Image should be valid!
                    </div>
                </div>
                 <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" id="price" value="<%=listing.price%>" type="number" class="form-control" required>
                        <div class="invalid-feedback">
                            Price should be valid!
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" id="country" value="<%=listing.country%>" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Country name should be valid!
                        </div>
                    </div>
                 </div>
               
    
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" id="location" value="<%=listing.location%>" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                        Location should be valid!
                    </div>
                </div>
                <div class="mb-3">
                    <select name="listing[category]" class="form-label" id="category">
                        <option value="mountains">Mountains</option>
                        <option value="trending">Trending</option>
                        <option value="rooms">Rooms</option>
                        <option value="castles">Castles</option>
                        <option value="iconic">Iconic</option>
                        <option value="pools">Pools</option>
                        <option value="camping">Camping</option>
                        <option value="farms">Farms</option>
                        <option value="arctic">Arctic</option>
                        <option value="dome">Dome</option>    
                    </select>
                </div>
                <br><br>
                <button class="btn btn-dark edit-btn mt-3"> EDIT </button>
            </form>
            <br><br>
        </div>
    </div>
    <div class="container">
       
    </div>
</body>
