<% layout("/layouts/boilerplate.ejs") %>
<h1><%=categoryName%></h1>
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
    <% for(let listing of requiredListings) { %>
    <a class="listinglink" href="/listings/<%= listing._id %>">
      <div class="card col listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
        <div class="card-img-overlay">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"><small></small></p>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
            <b><%= listing.title %></b><br><br>
            <b><%= listing.category %></b>
            &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
            <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>